input {
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    height: 24px;
    padding: 0 5px;
    box-sizing: border-box;
    width: 100px;
    border: 1px solid rgb(166, 166, 166);
    /* position: relative; */
}
button {
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 11px;
    padding: 6px 30px;
    background: #d4d4d1;
    font-weight: bold;
    height: 24px;
}
button:hover {
	cursor: pointer;
}